
.frontPageImgDiv{
  display: grid;
  grid-template-columns: 100px;
  grid-template-rows: repeat(7, 1fr);
  width: 100%;
  height: 700px;
  background-image: url("./frontPagePhoto.jpeg");
}

.searchBarOnPic{
  text-align: center;
  background-color: rgba(10, 10, 10, 0.7);
  grid-area: 8/8/7/1;
}

#map {
  height: 800px;
  width: 100%
}

.searchBar{
  text-align: center;
  font-size: 25px;
  color: white
}

.front-page-card-container{
  margin-top: 50px;
}

.state-page-card-container{
  margin-top: 50px;
}

.state-row{
  border-bottom-style: groove;
}

.card{
  height: a;
}

/* .article-img{
  height: 300px;
  object-fit: contain;
} */


.card img {
  height: 400px;
  object-fit: cover;
}

/* .spanFix {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
} */

.spanFix {
  line-height: 1.5em;
  height: 4em;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}



.stateSelector {
  color: black;
  background-color: white;
  width: 100%;
  margin-top: 3%;
}

.stateMap {
  text-align: center;
  background-color: grey;
  height: 600px;
  width: 100%
}

.state-card-img {
  margin-top: 10px;
  object-fit: cover;
  max-height: 175px;
  max-width: 260px
}

.state-navlink {
  color: black;
}

.parkImgDiv{
  width: 100%;
  height: 700px;
  object-fit: cover;
}
